<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="adicionar">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">Ingreso cantidad Productos</h4>
              </div>
              <div class="card-body ">
                <form method="#" action="#">
                  {{productoAdicionar}}
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Código" type="text" [(ngModel)]="producto2.codigo">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" type="text">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Cantidad" type="number">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Precio" type="number">
                  </mat-form-field>
                </form>
              </div>
              <div class="card-footer ">
                <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Guardar</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="crear">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">Crear Productos</h4>
              </div>
              <div class="card-body ">
                <form method="#" action="#">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Código" type="text">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" type="text">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Cantidad" type="number">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Precio" type="number">
                  </mat-form-field>
                </form>
              </div>
              <div class="card-footer ">
                <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Guardar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Productos</h4>
            <button mat-raised-button type="button" class="btn btn-success btn-round"
              (click)="crearProducto()">Nuevo</button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                    <th>{{ tableData1.headerRow[1] }}</th>
                    <th>{{ tableData1.headerRow[2] }}</th>
                    <th>{{ tableData1.headerRow[3] }}</th>
                    <th>{{ tableData1.headerRow[4] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of productos">
                    <td class="text-center">{{producto.codigo}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>&euro;{{producto.precio}}</td>
                    <td class="td-actions">
                      <button mat-raised-button type="button" class="btn btn-success"
                        (click)="adicionarProducto(producto)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-danger">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>